APP_PORT=13000
APP_INTERNAL_HOST=cf_anomaly_detector_web
TYPESENSE_HOST=cf_anomaly_detector_db
TYPESENSE_PORT=8108
TYPESENSE_API=Rf9d947a984e00966P
TYPESENSE_PROTOCOL=http

OLLAMA_HOST=0.0.0.0:11434
OLLAMA_ORIGINS=*
OLLAMA_MAX_LOADED_MODELS=2
OLLAMA_NUM_PARALLEL=2
OLLAMA_KEEP_ALIVE=120

OLLAMA_API=http://host.docker.internal:11435
